/* General Container Style */
#root-container {
    -fx-background-image: url("resources/background-1.jpg");
}


.button {
    -fx-background-color: rgb(150, 220, 177);
    -fx-text-fill: #13598f;
}

.label {
    -fx-text-fill: black;
    -fx-font-family: Verdana;
}

.text-field {
    -fx-background-color: rgb(255, 255, 255);
    -fx-text-fill: black;
}

.combo-box {
    -fx-background-color: rgb(255, 255, 255);
}


.combo-box:disabled {
    -fx-background-color: rgb(104, 101, 101);
}

.color-picker {
    -fx-background-color: rgb(255, 255, 255);
}

.toggle-button {
    -fx-text-fill: Ivory;
}

.progress-indicator {
    -fx-progress-color: green;
}

.progress-indicator .percentage {
    -fx-text-fill: black;
}

.cell-label {
    -fx-border-color: #31636c;
}

.toggle-button:selected {
    -fx-background-color: green;
}

.toggle-button {
    -fx-background-color: red;
    -fx-text-fill: black
}


