/* General Container Style */
#root-container {
    -fx-background-image: url("resources/background-3.jpg");
}


.button {
    -fx-background-color: rgb(255, 222, 0);
    -fx-text-fill: #13598f;
}

.label {
    -fx-text-fill: lavender;
}

.text-field {
    -fx-background-color: rgb(247, 255, 137);
    -fx-text-fill: black;
}

.combo-box {
    -fx-background-color: rgb(247, 255, 137);
}


.combo-box:disabled {
    -fx-background-color: rgb(104, 101, 101);
}

.color-picker {
    -fx-background-color: rgb(247, 255, 137);
}

.toggle-button {
    -fx-text-fill: Ivory;
}

.progress-indicator {
    -fx-progress-color: green;
}

.progress-indicator .percentage {
    -fx-text-fill: black;
}

.cell-label {
    -fx-border-color: #31636c;
}

.toggle-button:selected {
    -fx-background-color: #ecca15;
}

.toggle-button {
    -fx-background-color: #00266c;
    -fx-text-fill: black
}


